*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #f6f6f6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* grid-tempalte-areas podemos crear cuadriculas o layouts por medio
   de una representacion "grafica" que contiene los nombres asociados
   los cuales asociamos indeoendientemente a cada caja hijo con 
   grid-area:area_asociada
   ejemplo:
   grid-template-areas:
        "header header header"
        "sidebar main main"
        "footer footer footer";
*/
.container{
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-columns: repeat(3,minmax(auto-fill,1fr));
    grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
    gap: 1vw;
}
.repeat-propertys{
    width: auto;
    height: 85vh;
    padding: 5px;
    text-align: center;
}
.container header{
    height: 5vh;
    grid-area: header;
    background-color: rgb(153, 20, 255);
}
.container aside{
    grid-area: aside;
    background-color: rgb(255, 20, 20);
}
.container main{
    grid-area: main;
    background-color: deeppink;
}
.container footer{
    height: 5vh;
    grid-area: footer;
    background-color: rgb(90, 20, 255);
}